@import '../../../styles';

.filtres-container {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  padding: 15px;
  margin: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);

  background-color: #f5f5f5;

  mat-form-field {
    flex: 1;
    min-width: 200px;
    width: 35%;

    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }

  .apply-button {
    background-color: #3f51b5;
    color: white;
    height: 56px; // Match height of form fields
    min-width: 120px;
  }
}

// Style pour le sélecteur de date
.mat-date-range-input {
  width: 100%;
}

// Personnalisation du datepicker
.mat-calendar-body-selected {
  background-color: #3f51b5;
}
