@import '../../../styles';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $white;

  .logo {
    display: flex;
    height: inherit;
    
    img {
      height: 40px;
    }
  }

  .menu {
    display: flex;
    gap: 10px;
    
    button {
      width: auto;
      padding: 0 20px;
      border-radius: 4px;
      font-weight: 500;
      transition: background-color 0.3s;
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
